<div *ngIf="!this.lessons" class="cssload-container">
  <div class="cssload-tube-tunnel"></div>
</div>

<div *ngIf="this.lessons" fxLayout="row" fxLayoutAlign="center center">
  <div class="div-inner-main" [style.xs]="{'width': '100%'}">

    <div *ngIf="!addingLesson" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="80%">MY LESSONS</div>
      <mat-icon fxFlex="20%" fxLayoutAlign="end center" *ngIf="authenticationService.isTeacher()" (click)="addingLesson = true"
        [title]="'Add lesson'">add_circle_outline</mat-icon>
    </div>

    <div *ngIf="addingLesson">
      <div>NEW LESSON</div>
      <form #newLessonForm (ngSubmit)="newLesson(); newLessonForm.reset()" [class.filtered]="submitNewLesson">
        <mat-form-field>
          <input matInput placeholder="Title" [(ngModel)]="lessonTitle" name="lessonTitle" id="lessonTitle" type="text"
            autocomplete="off" required>
        </mat-form-field>
        <div class="block-btn">
          <button mat-button type="submit" [disabled]="submitNewLesson">Send</button>
          <button mat-button (click)="addingLesson = false; newLessonForm.reset()" [disabled]="submitNewLesson">Cancel</button>
        </div>
      </form>
    </div>

    <mat-card *ngFor="let lesson of lessons">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <span fxFlex="70%" class="title">{{lesson.title}}</span>
        <span fxFlex="70%" *ngIf="authenticationService.isStudent()" class="teacher">{{lesson.teacher.nickName}}</span>
        <mat-icon fxFlex="15%" *ngIf="authenticationService.isTeacher()" (click)="goToLessonDetails(lesson)" [title]="'Modify lesson'">mode_edit</mat-icon>
        <mat-icon fxFlex="15%" (click)="goToLesson(lesson)" [title]="'Go to lesson!'">play_circle_filled</mat-icon>
      </div>
    </mat-card>

    <div *ngIf="lessons.length === 0 && authenticationService.isStudent() && !addingLesson">
      <app-error-message [errorTitle]="'You do not have any lessons'" [errorContent]="'Your teacher must invite you'"
        [customClass]="'warning'" [closable]="false"></app-error-message>
    </div>

    <div *ngIf="lessons.length === 0 && authenticationService.isTeacher() && !addingLesson">
      <app-error-message [errorTitle]="'You do not have any lessons'" [errorContent]="'You can add one by clicking on the icon above'"
        [customClass]="'warning'" [closable]="false"></app-error-message>
    </div>

  </div>
</div>