<div fxLayout="row" fxLayoutAlign="center center">
  <div class="div-inner-main" [style.xs]="{'width': '100%'}">

    <h1>OpenVidu Classroom Demo</h1>

    <div fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card>
        <mat-card-content>

          <div *ngIf="submitProcessing" class="cssload-container">
            <div class="cssload-tube-tunnel"></div>
          </div>

          <form #myForm (ngSubmit)="onSubmit()" [class.filtered]="submitProcessing">

            <div>
              <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="email" name="email" id="email" type="email" required>
              </mat-form-field>
            </div>

            <div *ngIf="!loginView">
              <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="nickName" name="nickName" id="nickName" type="text"
                  autocomplete="off" required>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" name="password" id="password" type="password"
                  required>
              </mat-form-field>
            </div>

            <div *ngIf="!loginView">
              <mat-form-field>
                <input matInput placeholder="Confirm password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword"
                  type="password" autocomplete="off" required>
              </mat-form-field>
            </div>

            <div *ngIf="!loginView" class="radio-button-div">
              <span id="sign-up-as">Sign up as...</span>
              <mat-radio-group [(ngModel)]="roleUserSignup" name="roleUserSignup" id="roleUserSignup">
                <mat-radio-button value='student'>Student</mat-radio-button>
                <mat-radio-button value='teacher'>Teacher</mat-radio-button>
              </mat-radio-group>
            </div>

            <app-error-message *ngIf="fieldsIncorrect" (eventShowable)="fieldsIncorrect = false" [errorTitle]="errorTitle"
              [errorContent]="errorContent" [customClass]="customClass" [closable]="true"></app-error-message>

            <div class="btn-container">
              <button mat-raised-button color="accent" type="submit" *ngIf="loginView" id="log-in-btn">Log in</button>
              <button mat-raised-button color="primary" type="submit" *ngIf="!loginView" id="sign-up-btn">Sign up</button>
            </div>

          </form>

          <div *ngIf="loginView">
            <table>
              <tr>
                <th>Email</th>
                <th>Password</th>
              </tr>
              <tr>
                <td>teacher@gmail.com</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>student1@gmail.com</td>
                <td>pass</td>
              </tr>
              <tr>
                <td>student2@gmail.com</td>
                <td>pass</td>
              </tr>
            </table>
          </div>

        </mat-card-content>

        <mat-card-actions>
          <div *ngIf="loginView">Not registered yet?<button mat-button (click)="setLoginView(false); myForm.reset()"
              class="card-button">Sign up</button></div>
          <div *ngIf="!loginView">Already registered?<button mat-button (click)="setLoginView(true); myForm.reset()"
              class="card-button">Log in</button></div>
        </mat-card-actions>

      </mat-card>

    </div>

  </div>
</div>